.container {
    padding: 0 32px;
}

.wrapper {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    position: sticky;
    top: 0;
}



.categoryLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--black);
    transition: color 0.2s ease;
}

.categoryLabel:hover {
    color: var(--green);
}

.categoryCheckbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: var(--green);
}



.rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.searchInput {
    margin-left: auto;
    width: 300px;
    padding: 12px 16px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease;
    top: 32px;
    background-color: var(--white);
}

.searchInput:focus {
    border-color: var(--green);
}

.productList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

.title{
    display: flex;
    background-color: var(--green);
    height: 240px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.5) 100%), url(/images/cow.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white);
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 45px;
}

.leftSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: sticky;
    top: 32px;
    margin-top: 23px;
}

.filtersTitle {
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    margin: 0;
}

.categoryFilters {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--white);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    width: 270px;
    flex-shrink: 0;
}