.sliderContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 112px);
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.5) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: none;
}

.overlay h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 60px;
    line-height: 57px;
    letter-spacing: 0;
    position: absolute;
    top: 30%;
    right: 40%
}

.overlay p {
    color: var(--white);
    font-weight: 700;
    font-size: 35px;
    line-height: 33px;
    letter-spacing: 0;
    position: absolute;
    top: 45%;
    right: 56%
}

.button{
    pointer-events: all;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--green);
    background-color: var(--white);
    border-radius: 30px;
    padding: 15px 30px;
    transition: transform 0.2s ease;
    position: absolute;
    top: 55%;
    right: 78.5%;
}

.button:hover {
    transform: scale(1.03);
}