.navbar {
    margin: 0;
}

.navLinks{
    display: flex;
    margin: 25px 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.link {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0em;
    height: 25px;
    color: var(--green);
}

.link:hover,
.link:focus,
.active {
    border-bottom: 2px solid var(--green);
}


.logo {
    width: 128px;
    height: 62px;
}

